<div class="row spacer" style="margin-top:50px"></div>
<center>
  <div class="container">
    <table class="table table-bordered connect-table">
      <tr>
        <th class="table-header">Select Your Device</th>
      </tr>
      <tr ng-repeat="device in devices">
        <td ng-click="select(device)" ng-class="{selected: selected.comName === device.comName}">{{device.comName.split('.')[1]}}</td>
      </tr>
    </table>
    <button id="listdevices" class="btn btn-lg" ng-click="refreshDevices()">Refresh</button>
    <button class="btn btn-lg" ng-click="connectSelectedDevice()">{{board.connected ? 'Disconnect' : 'Connect'}}</button>
  </div>
  <div class="row spacer" style="margin-top:50px"></div>
  <form class="form">
    <div class="form-group">
      <label for="eegDataFilename"><h2>Filename</h2></label>
      <input style="width:500px" type="text" class="form-control" id="eegDataFilename" placeholder="NOT untitled.txt. Choose something meaningful :)">
      <div class="row spacer" style="margin-top:20px"></div>
      <button type="submit" class="btn btn-lg">Create File</button>
    </div>
  </form>
</center>
