.selected {
  background-color: rgba(0, 0, 255, .5);
}

.table-header {
  color: white;
  background-color:#222;
  text-align:center;
  height:20px
}

.connect-table {
  width: 300px;
  height: auto;
}
