<div class="row spacer" style="margin-top:100px"></div>
<div>
  <center>
    <div class="container">
      <table class="table table-bordered connect-table">
        <tr>
            <th class="table-header">Select Your Device</th>
        </tr>
        <tr ng-repeat="device in devices">
            <td ng-click="select(device)" ng-class="{selected: selected.comName === device.comName}">{{device.comName.split('.')[1]}}</td>
        </tr>
      </table>

      <button id="listdevices" class="btn btn-lg" ng-click="refreshDevices()">Refresh</button>
      <!--<button type="button" ng-click="connect(selected.comName)" class="btn btn-lg btn-default">Connect</button>-->
      <button class="btn btn-lg" ng-click="connectSelectedDevice()">{{board.connected ? 'Disconnect' : 'Connect'}}</button>
    </div>
  </center>
</div>
