<link href='https://fonts.googleapis.com/css?family=Kanit:400,500italic' rel='stylesheet' type='text/css'>
<nav class="navbar navbar-inverse main-navbar">
      <ul class="nav navbar-nav">
        <li class="pull-left"><button ui-sref="connect" style="margin-top:10px; margin-left:15px;" type="button" ng-class="{'btn-success':board.streaming==true, 'btn-danger': board.streaming==false}" ng-init="board.streaming=false;"class="btn"><span class="glyphicon glyphicon-off"></button></li>
        <li class="pull-left"> <p ng-class="board.streaming ? 'streaming' : 'not-streaming'">{{board.streaming==true ? "Connected" : "Not Connected"}}</p></li>
        <!-- <li><button style="font-family: Kanit; font-size:20px; padding-left:120px; margin-top:3px; text-decoration:none" ui-sref="connect" type="button" class="btn btn-link"><span><i>OpenEXP</i></button></li> -->
          <div style="margin-top:3px" class="pull-right btn-group" role="group" aria-label="...">
            <button ui-sref="dashboard" type="button" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-eye-open"></button>
            <button ui-sref="experiments.local" type="button" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-triangle-right"></button>
              <button ui-sref="analyze" type="button" class="btn btn-lg btn-link"><span class="glyphicon glyphicon-stats"></button>
            <button ui-sref="settings" class="btn btn-lg btn-link dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-cog"></button>
          </div>
      </ul>
</nav>
