  <table class="table table-bordered table-hover" style="width:300px">
        <tr>
            <th>Id</th>
            <th>Path</th>
            <th>Name</th>
        </tr>
        <tr ng-repeat="device in devices">
            <td>{{device.id}}</td>
            <td>{{device.Path}}</td>
            <td>{{device.Name}}</td>
        </tr>
  </table>
<button id="listports" class="btn btn-lg btn-default" ng-click="loadDevices()">List Ports</button>
<button id="connect" class="btn btn-lg btn-default" ng-click="">Connect</button>
<div class="row spacer" style="margin-top:100px"></div>
<button id="startbutton" class="btn btn-lg btn-default">Start</button>
<button id="stopbutton" class="btn btn-lg btn-default">Stop</button>
<button id="triggerbutton" class="btn btn-lg btn-default">Touch Me</button>
<div class="row spacer" style="margin-top:100px"></div>
</body>

<script>
$(document).ready(function () {

  var socket = io.connect('http://localhost:8080');
  $('#triggerbutton').click(function(){
    console.log('button clicked')
    socket.emit('message', '`');
  });

  $('#startbutton').click(function(){
    console.log('button clicked')
    socket.emit('message', 'b');
  });

  $('#stopbutton').click(function(){
    console.log('button clicked')
    socket.emit('message', 's');
  });

  $('#listports').click(function(){
    console.log('button clicked')
    socket.emit('listports', 'true');
  });

  socket.on('serialdevices', function(data){
    console.log(data)
  })

});

var value = 0
$("#spinit").rotate({
  bind:
  {
    click: function(){
      value +=90;
      $(this).rotate({ animateTo:value})
    }
  }
});

</script>
